/*barlow font*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital@1&display=swap');
/* rubik font */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: #ccc;
    font-family: 'Barlow';
    text-align: center;
    
}

.navigateul{
    list-style: none;
    background: #6C7B95;
    padding: 0;
    margin: 50px;
    text-align: right;
}

.navigate li{
    display: inline-block;
}

.navigate a{
    text-decoration: none;
    color: #464159;
    width: 100px;
    display: block;
    padding: 25px;
    text-align: center;
}

.navigate a:hover{
    background: #8BBABB;
}

.wrapper{
    width: 75%;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 70px;
    background: #6C7B95;
    position: fixed;
}
/*
div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 25%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 50%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  */